---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Nav.astro'
import Footer from '../../components/Footer.astro'
import PostList from '../../components/PostList.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config'
import { formatTagUrlSafe } from '../../utils/tags'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('blog')

  // Replace url unsafe characters
  const tags = posts
    .flatMap((post) => {
      return post.data.tags?.split(',').map(formatTagUrlSafe) ?? []
    })
    .filter(Boolean)

  const uniqueTags = [...new Set(tags)]

  return uniqueTags.map((tag) => ({
    params: { tag },
  }))
}

const { tag } = Astro.params
const posts = (await getCollection('blog'))
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )
  .filter((post) =>
    tag
      ? post.data.tags?.split(',').map(formatTagUrlSafe).includes(tag.toString())
      : true
  )
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`#${tag} – ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="container">
          <h2 class="tag-heading">#{tag}</h2>
          <PostList posts={posts} showDrafts />
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  .tag-heading {
    font-size: 1em;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 0;
    padding-top: 4rem;
  }
</style>
