---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import { getCollection } from 'astro:content'

// Use Astro.glob() to fetch all posts, and then sort them by date.
let sketches = (await getCollection('sketch')).sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={`Sketches – ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="container">
          {
            sketches.map((sketch) => (
              <a
                class="sketch-link"
                href={`/sketch/${sketch.slug}/`}
                title={sketch.data.title}
              >
                <img src={sketch.data.previewImage} alt={sketch.data.title} />
              </a>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
    <style>
      .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
      }
      .sketch-link {
        display: block;
        transition: 0.1s ease;
      }
      .sketch-link:hover,
      .sketch-link:focus {
        opacity: 0.8;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    </style>
  </body>
</html>
