---
import '@fontsource/fira-code'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import { formatDate } from '../utils/dateUtils'
import { SITE_TITLE } from '../config'
import PostTags from '../components/PostTags.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  post: CollectionEntry<'blog'>
}

const {
  post: {
    data: { title, description, pubDate, tags, updatedDate, showDate = true },
  },
} = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={`${title} – ${SITE_TITLE}`} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <header>
          <div class="container">
            <div class="">
              <h1>{title}</h1>
              <PostTags tags={tags} />
              <div class="postmeta">
                {
                  showDate && !!pubDate && (
                    <time datetime={pubDate.toDateString()}>
                      {formatDate(pubDate.toString())}
                    </time>
                  )
                }
              </div>
            </div>
          </div>
        </header>

        <section class="thin">
          <div class="container">
            <div class="textContainer auto">
              <slot />
            </div>
          </div>
        </section>
      </article>
    </main>
    <Footer />
    <style>
      article {
        padding-top: 40px;
      }
      header {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
      }

      h1 {
        font-size: 3rem;
        line-height: 1.2;
        position: relative;
      }

      @media (min-width: 450px) {
        h1 {
          font-size: 3.5rem;
        }
      }
      @media (min-width: 880px) {
        h1 {
          font-size: 4rem;
        }
      }
      .post-meta {
        font-size: 2.1rem;
        font-weight: 200;
        margin-bottom: 1rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .post-meta-sep {
        display: none;
      }

      @media (min-width: 500px) {
        .post-meta {
          flex-direction: row;
        }

        .post-meta > * + * {
          margin-left: 0.7em;
        }

        .post-meta-sep {
          display: inline-block;
        }
      }
    </style>
  </body>
</html>
