---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE } from '../config'

export interface Props {
  title: string
  description?: string
  author?: string
  pubDate?: string
  tags?: string
  updatedDate?: string
  heroImage?: string
  cardImage?: string
}

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={`${title} – ${SITE_TITLE}`} description={description} />
  </head>

  <body>
    <Header />

    <main>
      <section>
        <div class="container">
          <h1>{title}</h1>
          {description && <p>{description}</p>}
          <canvas class="sketch-canvas"></canvas>
          <slot />
        </div>
      </section>
    </main>

    <style>
      canvas {
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        margin: 5rem auto 0 auto;
      }
      div {
        text-align: center;
      }
    </style>

    <Footer />
  </body>
</html>
